@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Yeseva+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer components {
  
  .white-btn{
    @apply border-black border-[1px] p-3 shadow-xl max-lg:hidden bg-white border-t border-r border-b-[3px] border-l
  }

  .black-btn{
    @apply border-white border-t border-r border-b-[3px] border-l  text-center text-white bg-black border-[1px] p-3 max-sm:w-full 
  }
  
  .rectangle-7 {
    background: var(--white, #ffffff);
    border-radius: 24px 0px 24px 0px;
    border-style: solid;
    border-color: #000000;
    border-width: 1px 1px 3px 1px;
    position: relative;

  }

  .big-heading{
    text-transform: capitalize;
    font-family: Yeseva One;
    font-size: 100px;
    font-style: normal;
    font-weight: 100px;
    line-height: normal;
    text-transform: capitalize;
  }

  @media screen and (max-width: 999px) {
    .big-heading{
      font-size: 70px;
    }
}

  @media screen and (max-width: 730px) {
      .big-heading{
        font-size: 50px;
      }
  }

}

@layer utilities {
    .padding {
      @apply sm:px-16 px-8 sm:py-16 py-12;
    }
}